.filter {  
  @include df-center($jc:flex-start, $ai:null);
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;

  @media screen and (max-width: 767.5px) {
    max-width: 330px;
  }

  @include tablet {
    justify-content: center;
  }
}

.projects__filter {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.filter__button {
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--h-text-color);
  background-color: var(--bgc-filter-team);
  font-family: inherit;
  @include fonts (500, 16px, 1.62, 0.03em, null, null);
  cursor: pointer;
  border: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  outline: transparent;

&:hover,
&:focus {
  color: var(--white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

