.logo {
  display: block;
  width: 101px;
  height: 25px;
  background-color: aqua;

  @include tablet {
    width: 125px;
  height: 31px;
  }

  @include desktop {
    width: 192px;
  height: 48px;
  }
}

// .header__logo {
//   @include tablet {
//     margin-right: 88px;
//   }

//   @include desktop {
//     margin-right: 93px;
//   }
// }

// .footer__logo {
//   display: block;
//   color: var(--white-color);
//   margin-bottom: 20px;
// }

// .logo__blue {
//   color: var(--acent-color);
// }
