.navigation,
.navigation__list {
  @include df-center();
}

.navigation__list {
  gap: 50px;
  display: none;

  @include tablet {
    display: flex;
  }
}

.navigation__link {
  position: relative;
  padding: 32px 1px;

  color: var(--h-text-color);
  @include fonts (500, 14px, 1.14, 0.02em, null, null);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
  outline: transparent;

  &.current {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--acent-color);
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: var(--acent-color);
  }

  &.current {
    color: var(--acent-color);
  }
}



