.container {
  @include margin-lr-auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
    min-width: 1600px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}