@mixin fonts($fw, $fs, $lh, $ls, $tt, $ta) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $tt;
  text-align: $ta;
}

@mixin margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin df-center($d: flex, $jc: center, $ai: center) {
  display: $d;
  justify-content: $jc;
  align-items: $ai;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}
