:root {
    --acent-color: #2196f3;
    --black-color: #000000;
    --h-text-color: #212121;
    --p-text-color: #757575;
    --white-color: #ffffff;
    --foot-contact-color: rgba(255, 255, 255, 0.6);
    --btn-hoover: #188ce8;  
    --bgc-filter-team: #f5f4fa;
    --bgc-hero-footer: #2f303a;
    --icon-main-fill: #afb1b8;
    --card-overlay-color: rgba(33, 150, 243, 0.9);
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }