.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {   
  width: calc((100% - 30px) / 2);  

  @include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  @include df-center;
  height: 92px; 
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: var(--icon-main-fill);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
  outline: transparent;

  &:hover,
  &:focus {
    color: var(--acent-color);
    border-color: var(--acent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
